@import "tailwindcss";

/* Variabel Root */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-orange: #fb6b00;
  --font-poppins: "Poppins", sans-serif;
}

/* Tema Tailwind custom (opsional) */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--brand-orange);
  --font-sans: var(--font-poppins);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Body styling */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
